@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: 0;
    padding: 0;
    margin: 0;   
}
body {
  margin: 0;
  padding: 0;
  background-color: #15131d;
}
._header {
  position: fixed;
  width: 70%;
  height: 100px;
  /* background-image: linear-gradient(to right, #2c3e50, #3498db); */
  display: flex;
  background-color: #312e3f;
  margin-top: 50px;
  flex-direction: row; 
  align-items: center; justify-content: center;
}

._header img {
  display: block;
  width: 150px;
  height: auto;
  margin-top: 10px;
  box-sizing: border-box;
}

.title_div ._title {
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
  font-size: 50px;

}

.title_div {
  margin-top: 70px;
  z-index: 1; /* Ensures that the title is always on top */
  margin-bottom: 50px;
}

/* CSS for the bubble box */
.bubble-box {
  position: relative; /* Changed from absolute to relative */
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 700px; /* Set the desired width */
  height: 530px;
  padding: 20px; /* Adjust padding as needed */
  background-color: #312e3f;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
  color: #fff; /* Set the text color */
  text-align: left; /* Align text to the left */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (top) */
  z-index: 0; /* Ensures that the bubble box is behind the title */
}


.bubble-box h1 {
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0; /* Remove default margin for the h1 element */
  margin-bottom: 10px;
}

/* Triangle or arrow pointing to the top */
.bubble-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -10px; /* Half of the triangle's width */
  border-width: 10px;
  border-style: solid;
  border-color: #3498db transparent transparent transparent;
}


.bubble-box input {
  border: none;
  border-radius: 10px;
  height: 40px;
  padding-right: 20px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto; /* Set margin to 0 top/bottom and auto left/right to center */
  width: 80%; /* Set width to 100% to fill the container */
}

#dropdown option{
  font-size: 20px;
  color: black;
}
  

input[type="text"],
.bubble-box input{
  outline: none;
  border: 1px solid #ccc; /* Add your custom border style if needed */
  height: 8%;
}

#resolutions{
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  background: linear-gradient(to right, #00796b, #0066cc);
  color: white;
  float: left;
  position: absolute;
  left: 55%;
  z-index:999;
  top: 69%;
}

option {
  padding: 10px;
  background-color: #f9f9f9;
  color: white;
}

/* Hover effect for the dropdown */
select:hover {
  border-color: #3e8e41;
}

.bubble-box button {
  border: none;
  border-radius: 10px;
  height: 40px;
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  background: linear-gradient(to right, #00796b, #0066cc); /* Lightened dark green to blue gradient */
  color: #fff;
  transition: background 0.5s ease, color 0.5s ease, transform 0.5s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.bubble-box button:hover {
  background: linear-gradient(to right, #33b2a6, #4da6ff); /* Lightened hover gradient */
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.bubble-box .search_btn{
  margin-top: 5%;
  align-self: center;
}

.bubble-box .title_text{
  font-size: small;
  margin-top: 30px; 
  font-size: large; 
  align-self: center;
}

.bubble-box .audio_download_btn{
  margin-left: 10px;
  float: right;
}

.bubble-box .download_button{
  margin-left: 10px;
  float: right;
}