<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YTDownloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="title_div">
        <h1 class="_title">
            Download Your Favourite Youtube Video
        </h1>
    </div>
    <form action="{{ url_for('home') }}" method="post" class="bubble-box">

    <h1 class="bubble-box-title">Enter URL:</h1>

    <input type="text" id="url_link" name="search_url" placeholder="Enter the link of the video">

    <button name="search" value="Search" id="in-between" class="search_btn">Search</button>

    <h2 class="title_text"> {{ title }}</h2>

    <div style="display: inline-block;" class="inline_items_div">
        <img src="{{ thumbnail }}" class="img-fluid _thumbnail" alt="Displayed Image" style="visibility: {{un_visible}};">
        <button type="submit" name="download_audio_button_mine" class="audio_download_btn" style="visibility: {{un_visible}};" id="audio_download_btn_func">Download Audio</button>
        <button type="submit" name="download_button_mine" class="download_button" style="visibility: {{un_visible}};" id="video_download_btn_func">Download</button>
        <select name="resolutions" id="resolutions" style="visibility: {{un_visible}};" > {% for res in resolutions %} <option value="{{ res }}" style="background-color: black;">{{ res }}</option> {% endfor %} </select>
    </div>
    <h1 class="file_lenght" style="visibility: {{un_visible}};">{{ videoLenght }}</h1>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>